<%= form_with(model: @post, local: true) do |post| %><br>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form_contents">
      <%= post.text_area :content, :size => "45x5", placeholder:"最大140文字で「ぼやき」倒そう！" %>
    <br><br><input type="submit" value="ぼやく">
  </div>

<% end %>
<br>
<center><%= link_to 'BOYAKI一覧に戻る', posts_path, class:"square_btn" %></center>

<!-- class: "btn btn-default" -->
